@model QuizArena.Models.Question

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Question Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.QuestionText)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.QuestionText)
                </dd>
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Quiz)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quiz.Title)
                </dd>
            </dl>
            <div class="d-flex justify-content-end mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.QuestionId" class="btn btn-warning me-2">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
